@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

@import "~toastr/toastr";
@import "../src/sass/style.scss";
@import "../src/webpack/plugins/plugins.scss";
//@import "~dropzone/src/dropzone.scss";

body {
    //font-size: 13px !important;
}

.modal-header {
    border-bottom: 1px solid rgb(60 60 60 / 4%) !important;
}

.modal-footer {
    border-top: 1px solid rgb(60 60 60 / 4%) !important;
}

.form-control:focus {
    color: #4b5563 !important;
    background-color: #f9fafb !important;
    border-color: $primary !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 2px rgb(23 31 56 / 8%),
    0 0 0 0.2rem rgb(36 46 76 / 25%) !important;
}

.th {
    background-color: #f3f6f9 !important;
    border-bottom: none !important;
    font-size: 0.9rem !important;
    padding: 1rem !important;
}

td {
    vertical-align: middle !important;
}

.team-img:hover .team-icons {
    opacity: 1;
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
}

.team-img:hover .social-icons {
    opacity: 1;
}

.btn-xs:not(.btn-icon) {
    font-size: 0.75rem;
    padding: 0.3125rem 0.75rem;
}

.btn-soft-secondary {
    color: #71869d;
    background-color: rgba(113, 134, 157, 0.1);
    border-color: transparent;
}

.btn-check:focus + .btn-soft-secondary,
.btn-soft-secondary:focus,
.btn-soft-secondary:hover {
    color: #fff;
    background-color: #71869d;
    border-color: transparent;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 40px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    font-family: "slick";
    font-size: 0 !important;
    margin-top: 7px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 10px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
    background-color: currentColor;
    border-radius: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: transparent !important;
    width: 40px;
    background: $primary;
    height: 10px !important;
    border-radius: 30px !important;
    margin-top: 7px !important;
}

.navbar-nav.custom-nav .show > .nav-link, .navbar-nav.custom-nav .nav-link.active {
    /* color: var(--bs-navbar-active-color) !important; */
    border-bottom: 3px solid !important;
}
